/* Write your CSS here */
.header {
  height: 15vh;
  background-color: #64748b;
  margin: 0.5em 0em;
  color: #cbd5e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
